.card {
  margin-bottom: 20px;
}
.pointer-cursor{
cursor: pointer;
}

.custom-button-center {
  text-align: center;
}


.container{
  max-width: 1400px;
}

.table {
  border-collapse: collapse;
  width: 1380px;
}


.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;

}

.table th {
  background-color: #f2f2f2;
  text-align: center;

}



.after-form-spacing1 {
  margin-bottom: 30px;
}

.after-form-spacing {
  margin-bottom: 80px;
}

.after-form-spacing {
  margin-bottom: 20px;
}

.after-form-spacing1 {
  margin-bottom: 70px;
}