<div class="container">
    <h2 class="text-center">Welcome to Admin Panel</h2>
    <h5 class="text-center">You can access customer and restaurant details here</h5>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center pointer-cursor" (click)="toggleCustomer()">
            <h3>Customer</h3>
          </div>
          <div class="card-body" *ngIf="showCustomer">
            <div>
              <input type="text" class="form-control mb-3" placeholder="Search by Customer Name" [(ngModel)]="customerSearchTerm" (input)="filterCustomers()">
            </div>
            <div *ngFor="let customer of filteredCustomers">
              <p>Customer ID: {{ customer.id }}</p>
              <p>Customer Name: {{ customer.name }}</p>
              <p>Customer Email: {{ customer.email }}</p>
              <div class="text-center">
                <button class="btn btn-danger" (click)="deleteCustomer(customer)">Remove</button>
              </div>
              <hr>
            </div>
            <div class="text-center">
              <p>Total Customers: {{ customers.length }}</p>
            </div>
          </div>
        </div>
      </div>
  
  <br>
  
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center pointer-cursor" (click)="toggleRestaurant()">
            <h3>Restaurant</h3>
          </div>
          <div class="card-body" *ngIf="showRestaurant">
            <div>
              <input type="text" class="form-control mb-3" placeholder="Search by Restaurant Name" [(ngModel)]="restaurantSearchTerm" (input)="filterRestaurants()">
            </div>
            <div *ngFor="let restaurant of filteredRestaurants">
              <p>Restaurant ID: {{ restaurant.id }}</p>
              <p>Restaurant Name: {{ restaurant.name }}</p>
              <p>Restaurant Address: {{ restaurant.address }}</p>
              <div class="text-center">
                <button class="btn btn-danger" (click)="deleteRestaurant(restaurant)">Remove</button>
              </div>
              <hr>
            </div>
            <div class="text-center">
              <p>Total Restaurants: {{ restaurants.length }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <br>