
.container {
  max-width: 640px;
  padding: 0 20px;
  margin: 20vh auto;

}

@media (max-width: 768px) {
  .container {
    margin: 20vh auto;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 80%;
  }
}