body {
  background-color: #aeabb8;
  overflow-y: auto;
  margin: 0; 
}

.container {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  margin-top: 50px; 
  margin-bottom: 50px; 
}

.order-container {
  width: 700px;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
}

.order-section {
  margin-bottom: 20px;
}

.order-section h2 {
  margin-bottom: 10px;
}

.order-section img {
  max-width: 200px;
  border-radius: 50%;
}

.track-order-button {
  display: inline-block;
  padding: 10px 25px;
  background-color: #73919b;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.track-order-button:hover {
  background-color: #768b94;
}

.custom-card .card-body {
  padding: 15px;
  border-radius: 70px 10px;
  background-color: #74919b;
}

.custom-card {
  border: none;
  margin-bottom: 20px;
  background-color: #f1f1f1;
}

.delivery-person-image {
  max-width: 100px;
  border-radius: 50%;
}


