
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <body>
      
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Customer Login</span></div>
        <form>
         
          <div class="row"><i class="fas fa-user"></i>
            <input type="email" id="email" name="email" placeholder="Email" >
          </div>
          
          <div class="row"><i class="fas fa-lock"></i>
            <input type="password" id="password" name="password" placeholder="Password" required>
          </div>
                 
          <div>
            <input  type="submit" id="login" value="Login">
          </div>
          
          <div class="signup-link">Not a member? <a [routerLink]="[('/Usersignup')]">Signup now</a></div>

        </form>
      </div>
    </div>
  </body>

