.bg-image {
  background-image: url('src/assets/images/dashboard1.jpg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 91.57vh;
  position: relative;
}
