.bg-image {
  background-image: url('src/assets/images/food_background2.avif');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 91.59vh;
  position: relative;
}
