.centered {
  width: 70%;
  margin: 0 auto;
}

#hotel-details {
  display: flex;
  padding: 2rem 2rem 0 2rem;
}

#hotel-name {
  color: #787878;
  font-size: 2rem;
  font-weight: 900;
  padding: 2rem 2rem o 2rem;
  text-decoration: none;
}

#hotel-name:hover {
  color: #525151;
  cursor: pointer;
}

#ratings {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  padding: 5px;
  margin: 0 1rem;
  border: 1px solid #787878;
  border-radius: 5px;
  text-align: center;
  /* cursor: pointer; */
}

#ratings a {
  text-decoration: none;
}

#ratings .stars {
  color: #3d9b6d;
  border-bottom: 1px solid #787878;
}

#ratings .stars img {
  width: 14px;
}

#ratings .times {
  color: #787878;
}

#search {
  margin-left: auto;
  border: 1px solid rgb(207, 206, 206);
  border-radius: 5px;
  padding: 10px;
  color: #787878;
  font-size: 15px;
  height: 3rem;
}

#search:focus {
  outline: none;
  border: 1px solid #e72929;
}

#Address{
  padding-left: 2rem;
  font-size: 20px;
}

.time{
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.na{
      display: inline-block;
      color: red;
      text-decoration: none;
      align-items: center;
      padding:0 0 10px 2rem;
      border: none;
      background: none;
      cursor: pointer;
      font-size: 16px;
      text-decoration: none;
      outline: none;
  }

.divider {
    width: 100%;
    margin: 10px 0; /* Adjust the margin as needed for spacing */
    border: none;
    border-top: 1px solid red; /* Change the color and style of the divider if desired */
  }


  
  .offer-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 2rem;
  }
  
  .offer-card {
    display: flex;
    flex-direction: column;
    width: 150px;
    border: 1px solid red;
    border-style: dashed;
    border-radius: 5px;
    padding: 10px;
    margin: 10px; /* Add some margin between cards */
  }
  
  .offer-content {
    margin-top: 10px;
    text-align: center; /* Adjust the margin for spacing between title and description */
  }
  
  .offer-title {
    font-size: 18px;
    margin: 0;
  }
  
  .offer-description {
    font-size: 14px;
    margin: 5px 0;
  }

.cui{
  padding-left: 3rem;
}
  

  .Cuisines{
    
    background-color: white;
    border-color: #e72929;
    color: red;
    padding-left: 3rem;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;

  }

  .t2{
    font-size: 22px;
    padding-top: 20px;
    padding-left: 2rem;
    
  }

  .cost{
    padding-left: 3rem;
  }
  
  .image{
    display: flex;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
    padding-top: 1px;
  }