<nav class="navbar">
  <a routerLink="login" routerLinkActive="active" class="nav-link">Login</a>
  <a routerLink="signup" routerLinkActive="active" class="nav-link">SignUp</a>
  <a routerLink="reslogin" routerLinkActive="active" class="nav-link">Res Login</a>
  <a routerLink="ressignup" routerLinkActive="active" class="nav-link">Res Signup</a>
  <a routerLink="notification" routerLinkActive="active" class="nav-link">Notification</a>
</nav>

  <h1 class="text-center">Food Zone</h1>

<div class="container">
  <router-outlet></router-outlet>
</div>
