body {
    background-color:white;
    overflow-y: auto;
    height: 40.5rem;

}

.button-group {
    display: flex;
    gap: 30px;

}

.custom-margin {
    margin-top: 3rem;
  
    /* adjust the value to increase or decrease the gap */
}

.form-spacing {
    margin-bottom: 20px;
  }

  .after-form-spacing {
    margin-bottom: 20px;
  }