
<div class="body">
  
    <h1 class="text-center" >Restaurant List</h1>
    
    <div class="container1"  >
      <div class="card-container">
        <div *ngIf="restaurant.length === 0" class="no-restaurants">
          No Results Found
        </div>
        <div class="card " *ngFor = "let item of restaurant ">
          <img class="restaurant-image" [src]="item.imageData" alt="Restaurant ">
          <div class="restaurant-name">{{item.name}}</div>
          <div class="food-type">{{item.cuisinetype}}</div>
          <div class="info-div">
            <div class="rating">
              <span class="icon-star"><i class="fa-solid fa-star"></i></span>
              <span>{{item.rating}}</span>
            </div>
              <div>•</div>
            <div class="timing">{{item.deliverytime}}</div>
              <div>•</div>
          <div class="price">{{item.minimumordervalue}}</div>
          <br><br>
          </div>
          <button class="view-button" (click)="onclick(item.id)">View Now</button>
          </div>
      
      </div>
    </div>
    </div>
    
    
    
  