.centered {
    width: 70%;
    margin: 0 auto;
}

#message {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

#hotel-details {
    display: flex;
    padding: 2rem;
}

#hotel-name {
    color: #787878;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
}

#hotel-name:hover {
    color: #525151;
    cursor: pointer;
}

#ratings {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 5px;
    margin: 0 1rem;
    border: 1px solid #787878;
    border-radius: 5px;
    text-align: center;
    /* cursor: pointer; */
}

#ratings a {
    text-decoration: none;
}

#ratings .stars {
    color: #3d9b6d;
    border-bottom: 1px solid #787878;
}

#ratings .stars img {
    width: 14px;
}

#ratings .times {
    color: #787878;
}

#search {
    margin-left: auto;
    border: 1px solid rgb(207, 206, 206);
    border-radius: 5px;
    padding: 10px;
    color: #787878;
    font-size: 15px;
    height: 3rem;
}

#search:focus {
    outline: none;
    border: 1px solid #e72929;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 2rem 0;
    border-top: 1px solid rgb(235, 235, 235);
}

div.content {
    display: flex;
}

div.content-right {
    padding-left: 2rem;
}

div.content-right * {
    margin-bottom: 10px;
    color: #787878;
    font-size: 15px;
}

div.content-right .name {
    color: #525151;
    font-size: 17px;
    font-weight: 600;
}

.tags {
    display: flex;
}

.tag {
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #787878;
    border-radius: 10px;
    margin-bottom: 0px !important;
}

.addToCart {
    display: flex;
}

.addToCart button, .addToCart a {
    padding: 10px 15px;
    border: none;
    background: #e72929;
    color: white;
    opacity: 0.8;
    margin: 0;
    line-height: initial;
}

.addToCart button:hover {
    cursor: pointer;
    opacity: 1;
}

img.food {
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
}

#order {
    display: flex;
    background-color: #e72929;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    height: 3rem;
    align-items: center;
}

#order .view-cart {
    margin-left: auto;
    cursor: pointer;
}

#order .view-cart img {
    width: 20px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 992px) {
    .centered {
        width: 85%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .centered {
        width: 95%;
        margin: 0 auto;
    }

    #hotel-details {
        padding: 2rem 0;
        flex-wrap: wrap;
    }

    #search {
        flex-basis: 100%;
        margin-top: 2rem;
    }
}