
.topnav {

  overflow: hidden;
  background-color:  #FF3131;
  margin: 0;
}


.topnav a {
  padding: 16px 10px;
  text-decoration: none;
  font-size: 18px;
}


.topnav-left {
  float: left;
}

.topnav .topnav-right {
  float: right;
}


   .topnav {
    overflow: hidden;
    background-color: #74919b;
    margin: 0;
  }
 

 .topnav a {
   padding: 16px 10px;
   text-decoration: none;
   font-size: 18px;
 }


 .topnav-left {
   float: left;
 }
 .topnav .topnav-right {
   float: right;
 }
 





>>>>>>> ec75852 (header, userlogin, dashboard was updated)



.dropdown {
<<<<<<< HEAD
  position: relative;
=======
  position:relative;
>>>>>>> ec75852 (header, userlogin, dashboard was updated)
  display: contents;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
<<<<<<< HEAD
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;


}

.dropdown-menu a {
  color:   #FF3131;
  padding: 8px 16px;
  text-align: center;
=======
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

 
}

.dropdown-menu a {
  color: black;
  padding: 8px 16px;
>>>>>>> ec75852 (header, userlogin, dashboard was updated)
  text-decoration: none;
  display: block;
}

<<<<<<< HEAD
.dropdown-menu a:hover {
  background-color: whitesmoke
}
=======
.dropdown-menu a:hover {background-color: #a36868}
>>>>>>> ec75852 (header, userlogin, dashboard was updated)

.dropdown:hover .dropdown-menu {
  display: block;
}




<<<<<<< HEAD
.active {
  border-radius: 4px;
  border: none;
  background-color:#fa4a4a;
  color:white;
  text-align: center;
  font-size: 18px;
  padding: 16px 16px;
=======
.active{
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 16px 16px;
  background-color: #a36868;
>>>>>>> ec75852 (header, userlogin, dashboard was updated)

}


<<<<<<< HEAD
.logo-container {
  padding-left: 30px;
  padding-top: 1px;
=======
.rounded-circle{
  border: none;
  margin-top: 3px;
  background-color: #74919b;
>>>>>>> ec75852 (header, userlogin, dashboard was updated)

}






.button {
  border-radius: 4px;
<<<<<<< HEAD
  border: none;
=======
  background-color:#74919b;
  border: none;
  color: #FFFFFF;
>>>>>>> ec75852 (header, userlogin, dashboard was updated)
  text-align: center;
  font-size: 18px;
  padding: 16px 16px;
  transition: all 0.5s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover {
<<<<<<< HEAD
  background-color: #fa4a4a;
  

}

=======
background-color:#a36868;
}
>>>>>>> ec75852 (header, userlogin, dashboard was updated)
.button:hover span {
  padding-right: 20px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
<<<<<<< HEAD
=======
    overflow: hidden;
    background-color: white;
    margin: 0;
  }
  
  
  .topnav a {
    padding: 16px 10px;
    text-decoration: none;
    font-size: 18px;
  }
  
  
  .topnav-left {
    float: left;
  }
  
  .topnav .topnav-right {
    float: right;
  }
  
  
  
  .dropdown {
    position: relative;
    display: contents;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  
  
  }
  
  .dropdown-menu a {
    color: orange;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-menu a:hover {
    background-color: whitesmoke
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  
  
  
  .active {
    border-radius: 4px;
    border: none;
    color: orange;
    text-align: center;
    font-size: 18px;
    padding: 16px 16px;
    background-color: rgb(241, 237, 237);
  
  }
  
  
  .logo-container {
    padding-left: 30px;
    padding-top: 1px;
  
  }
  
  
  
  
  
  
  .button {
    border-radius: 4px;
    background-color: white;
    border: none;
    color: orange;
    text-align: center;
    font-size: 18px;
    padding: 16px 16px;
    transition: all 0.5s;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover {
    background-color: rgb(241, 237, 237);
  }
  
  .button:hover span {
    padding-right: 20px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
>>>>>>> 099de46 (updated the home and search components for home screen)
=======



>>>>>>> ec75852 (header, userlogin, dashboard was updated)
