
   .topnav {
    overflow: hidden;
    background-color: #ffffff;
    margin: 0;
  }
 

 .topnav a {
   padding: 16px 10px;
   text-decoration: none;
   font-size: 18px;
 }


 .topnav-left {
   float: left;
 }
 .topnav .topnav-right {
   float: right;
 }
 


.dropdown {
  position:relative;
  display: contents;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

 
}

.dropdown-menu a {
  color: orange;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {background-color: whitesmoke}

.dropdown:hover .dropdown-menu {
  display: block;
}




.active{
  border-radius: 4px;
  border: none;
  color: orange;
  text-align: center;
  font-size: 18px;
  padding: 16px 16px;
  background-color: whitesmoke;

}


.rounded-circle{
  border: none;
  margin-top: 3px;
  background-color: #74919b;

}






.button {
  border-radius: 4px;
  background-color:white;
  border: none;
  color: orange;
  text-align: center;
  font-size: 18px;
  padding: 16px 16px;
  transition: all 0.5s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover {
background-color:whitesmoke;
}
.button:hover span {
  padding-right: 20px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



