

.container{
  margin-top: 15px;
  font-size: larger;
  justify-content: center;
  text-align: center;
  
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 15px;
  
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 26px;
  left: 4px;
  bottom: 1px;
  top:1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}
.toogle{
     margin-left: 0;
     margin-bottom: 100px;
     margin-top: 20px;
     font-size: larger
  
}

h3{
  font-size: larger;
}
label{
  font-size: 24px;
  text-align: left;
  justify-content: center;

}
.enable{
  font-size: 24px;
  text-align: center;
  justify-content: center;
  margin-left: 47px;

}