<div class="col-md-6 offset-md-3">
    <h1>Update Restaurant Record</h1>
    <form (ngSubmit) = "onSubmit()"> 
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="restaurant.name">
          
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" name="email" [(ngModel)]="restaurant.email">

          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="restaurant.password">
       

            <label for="phone_number">Phone Number</label>
            <input type="number" class="form-control" id="phone_number" name="phone_number" [(ngModel)]="restaurant.phone_number">

            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" name="address" [(ngModel)]="restaurant.address">

            <label for="cuisinetype">Cuisine Type</label>
            <input type="text" class="form-control" id="cuisinetype" name="cuisinetype" [(ngModel)]="restaurant.cuisinetype">

            <label for="minimumordervalue">Min Order Value</label>
            <input type="number" class="form-control" id="minimumordervalue" name="minimumordervalue" [(ngModel)]="restaurant.minimumordervalue">

            <label for="imageData">Image Data</label>
            <input type="text" class="form-control" id="imageData" name="imageData" [(ngModel)]="restaurant.imageData">

            <label for="deliverytime">Delivery Time</label>
            <input type="text" class="form-control" id="deliverytime" name="deliverytime" [(ngModel)]="restaurant.deliverytime">

            <label for="rating">Rating</label>
            <input type="number" class="form-control" id="rating" name="rating" [(ngModel)]="restaurant.rating">
          <br>
        <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>

</div> 
