.contact-us {
  padding: 70px 0;
  width: 100%;
  background-color: white;
  overflow: hidden;
  height: 91.57vh;
  background-image: url('src/assets/images/bg.jpg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.contact-form {
  max-width: 850px;
  margin: -2vh auto;
  background-color: #fff;
  padding: 20px ;
  border-radius: 10px;
  box-shadow: rgba(78, 74, 74, 0.56) 0px 22px 70px 4px;

}

.contact-form form {
  display: grid;
  gap: 20px;
}

.contact-form .form-group label {
  font-weight: bold;
  
}

.contact-form .form-group input,
.contact-form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}



.contact-form button {
  padding: 19px 20px;
  border: none;
  outline: none;
  margin-top: 8px;
  border-radius: 8px;
  display: block;
  background-color: #7a7a73;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  transition: background-color 0.3s ease;
}


.contact-form button:hover {
  background-color: #8e8e85;

}

@media (max-width: 600px) {
  .contact-form {
    max-width: 80%;
  }
}

@media (max-width: 1000px) {
  .contact-form {
    max-width: 80%;
  }
}