
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="about-us">

    <div class="about">
      <img src="../assets/images/about.jpeg" alt="##" class="pic" style="width: 400px; height: 500px;">
      <div class="text">
        <h2>About Us</h2>
        <h5>Front-end Developer & Designer</h5>
          <p style="text-align: justify;">Introducing our revolutionary food application - the ultimate solution for all your culinary needs! Our app is designed to make your life easier, healthier, and more delicious than ever before. Here are some of the features that make our app a must-have for food lovers:

            Easy-to-use interface: Our app boasts a user-friendly interface that is easy to navigate and understand. Whether you're a novice cook or a seasoned chef, you'll find everything you need at your fingertips.
            
            Thousands of recipes: With our app, you'll have access to thousands of mouth-watering recipes from all over the world. From traditional family favorites to exotic cuisine, our app has it all.
            
            Personalized recommendations: Our app uses advanced algorithms to learn your preferences and recommend recipes that are tailored to your tastes. The more you use the app, the better it gets at suggesting recipes that you'll love.</p>
       
      </div>
    </div>
  </div>
