<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
<div class="body">
<div class="container">
  <div class="title">Admin Registration</div>
  <div class="content">
    <form (submit)="register()" #signupForm="ngForm">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Full Name</span>
          <input type="text" [(ngModel)]="name" name="name" placeholder="Enter your name" required>
        </div>
        <div class="input-box">
          <span class="details">Email</span>
          <input type="email" [(ngModel)]="email" name="email" placeholder="Enter your email" required>
        </div>
        <div class="input-box">
          <span class="details">Password</span>
          <input type="password" [(ngModel)]="password" name="password" placeholder="Enter your password" required>
        </div>
        <div class="input-box">
          <span class="details">phone number</span>
          <input type="text" [(ngModel)]="phone_number" name="phone_number" placeholder="Enter your phone number" required>
        </div>
      </div>
      <div>
        <input type="submit" value="Sign up" >
      </div>
      <div class="signup-link">Already a member? <a [routerLink]="[('/Adminlogin')]">Login here</a></div>

    </form>
  </div>
</div>
</div>