
.body{
  display: flex;
  padding: 10px;
  background-image: url('src/assets/images/bg.jpg');

}


.container{
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  padding: 0px 30px;
  border-radius: 10px;
  box-shadow: rgba(78, 74, 74, 0.56) 0px 22px 70px 4px;

}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  height: 90px;
  margin-left: -30px;
  margin-right: -30px;
  background-color:#7a7a73;
  border-radius: 100px 10px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;

}




input[type="submit"] {
  height: 100%;
  width: 100%;
  height: 59px;
  font-size: 18px;
}


form .user-details .form-group{
  margin-bottom: 15px;
  width: calc(100% / 3 - 20px);
}


/* making as responsive */

@media(max-width: 584px){
  .container{
   max-width: 100%;
 }
 form .user-details .form-group{
     margin-bottom: 15px;
     width: 100%;
   }
   form .category{
     width: 100%;
   }
   .content form .user-details{
     max-height: 300px;
     overflow-y: scroll;
   }
   .user-details::-webkit-scrollbar{
     width: 5px;
   }
   }



   @media(max-width: 459px){
   .container .content .category{
     flex-direction: column;
   }
 }

 @media (max-width: 1000px) {
  .container {
    max-width: 80%;
  }
}