
<table class="table table-light">
    <thead>
      <tr>
       
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        
        <th scope="col">Address</th>
        <th scope="col">Password</th>
        <th >Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
       
        
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        
        <td>{{user.addressId}}</td>
        <td>{{user.password}}</td>
        <td><button (click)="updateUser(user.id)" class="btn-btn-primary">Update</button>
            <button (click)="deleteUser(user.id)" class="btn-btn-danger" style="margin-left: 10px;">Delete</button>
        </td>
      </tr>
      
       </tbody>
  </table>