body {
  background-color: white;
  
  height: 90.75vh;
  overflow-y: auto;
}

.container {

  width: 700px;
 
  
}

.card-body {
  padding: 20px;
}


.container .card {
  font-size: large;
  
  font-family:Georgia, 'Times New Roman', Times, serif;
  border-radius: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.container .header {
  font-weight: bold;
  background-color:  #ffcf26;
  border-radius: 30px 50px ; 
  padding-top:10px ;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.after-form-spacing {
  margin-top: 130px;
}